# =========================
# Environment & Secrets
# =========================
.env
.env.*
!.env.example

# =========================
# Dependencies (Host-only)
# =========================
node_modules

# =========================
# Logs & Coverage
# =========================
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs
coverage

# =========================
# Build Artifacts
# =========================
dist
build

# =========================
# Cache & Runtime
# =========================
.cache
.tmp
.eslintcache

# =========================
# VCS & Editor
# =========================
.git
.gitignore

.idea
.vscode
.fleet
.zed

# =========================
# OS
# =========================
.DS_Store
Thumbs.db
